* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
  font-size: 1.6rem;
  height: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: 0;
}

.fa {
  cursor: pointer;
  transition: color .3s ease;
}

.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

.tool-bar.ReactModal__Content {
  transition: all 500ms ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
  &--after-open {
    opacity: 1;
    transform: translateX(100%);
  }
  &--before-close {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.CodeMirror,
.editor-toolbar.fullscreen {
  z-index: 1000;
}
