.flex {
  display: flex;
  @at-root {
    #{&}__center {
      justify-content: center;
      align-items: center;
    }
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}
