.bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  min-height: 40px;
  border-bottom: 1px solid $dark-gray;
  @at-root {
    #{&}__list {}
    #{&}__share {}
  }
}