.button {
  background: $button-bg;
  color: white;
  text-align: center;
  border: 1px solid $button-border;
  cursor: pointer;
  height: auto;
  width: auto;
  padding: .5rem .8rem;
  margin-left: 20px;
  border-radius: 3px;
  @at-root {
    #{&}__mini {
      width: $button-mini-size;
    }
    #{&}__danger {
      background: button-danger-bg;
    }
  }
}