.editor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: $sidebar-width+$note-list-width;
  display: flex;
  flex-direction: column;
  border: 1px solid $dark-gray;
  transition: margin 0.3s ease-in-out;
  @at-root {
    #{&}__header {
      padding: 10px 30px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $dark-gray;
      .fa {
        font-size: 2.6rem;
        margin-right: 20px;
        cursor: pointer;
        color: $dark-gray;
        transition: color .2s ease;
        &:hover {
          color: $main-color;
        }
      }
    }
    #{&}__main {
      padding: 30px 40px;
      flex: 1;
      @at-root {
        #{&}__header {
          color: $main-color;
        }
      }
    }
  }
  &.full-screen {
    margin-left: 0;
  }
}