.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: .3rem .5rem;
  border: 1px solid $dark-gray;
  background: #fff;
  color: #000;
  min-width: 100px;
  max-width: 150px;
  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  @at-root {
    #{&}__item {
      width: 100%;
      padding: .9rem 1.1rem;
      text-decoration: none;
      font-size: 1.3rem;
      transition: background .1s ease, color .1s ease;
      &:hover {
        cursor: pointer;
        background: $menu-bg-hover;
        color: $menu-color-hover;
      }
    }
  }
}