.notes {
  width: $note-list-width;
  height: 100%;
  color: $default-color;
  display: flex;
  flex-direction: column;
  @at-root {
    #{&}__header {
      width: 100%;
      padding: 2rem;
      border-bottom: 1px solid $dark-gray;
    }
    #{&}__list {
      flex: 1;
      overflow-x: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      @at-root {
        #{&}__note {
          height: $note-height;
          width: 100%;
          padding: 10px 20px;
          cursor: pointer;
          transition: background .3s ease;
          border-bottom: 1px solid $dark-gray;
          &:hover {
            background: $main-color;
            a {
              * {
                color: white;
              }
            }
          }
          a {
            color: $default-color;
          }
          @at-root {
            #{&}-content {
              height: 100%;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 1.4rem;
            }
            #{&}-header {
              color: #000;
              font-size: 1.7rem;
              margin-bottom: 5px;
            }
            #{&}-update {
              margin-bottom: 3px;
            }
            #{&}-para {}
          }
        }
      }
    }
  }
}