.notes {
  width: $note-list-width;
  height: 100%;
  color: $default-color;
  display: flex;
  flex-direction: column;
  @at-root {
    #{&}__header {
      width: 100%;
      padding: 2rem;
    }
    #{&}__list {
      flex: 1;
      overflow-x: hidden;
      @at-root {
        #{&}__note {
          height: $note-height;
          width: 100%;
          padding: 10px 20px;
          cursor: pointer;
          transition: background .3s ease;
          &:hover {
            background: $main-color;
            a {
              color: white;
            }
          }
          a {
            color: $default-color;
          }
        }
      }
    }
  }
}