.notes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: $sidebar-width;
  width: $note-list-width;
  height: 100%;
  color: $default-color;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: all .5s ease;
  @at-root {
    #{&}__header {
      width: 100%;
      padding: 1rem 2rem;
      border-bottom: 1px solid $dark-gray;
      @at-root {
        #{&}__title {
          margin-bottom: 10px;
        }
      }
    }
    #{&}__list {
      flex: 1;
      overflow-x: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      @at-root {
        #{&}__note {
          display: block;
          height: $note-height;
          width: 100%;
          padding: 10px 20px;
          cursor: pointer;
          transition: background .3s ease;
          color: $default-color;
          border-bottom: 1px solid $dark-gray;
          @at-root {
            #{&}-content {
              height: 100%;
              width: 100%;
              overflow: hidden;
              .highlight {
                font-weight: 1000;
                color: $main-color;
              }
            }
          }
          &:hover,
          &.active {
            background: $main-color;
            color: white;
            .highlight {
              color: yellow;
            }
          }
        }
      }
    }
  }
  &.hidden {
    transform: translateX(-$note-list-width);
    opacity: 0;
  }
}