.sidebar {
  width: $sidebar-width;
  background-color: $gray;
  border-right: 1px solid $dark-gray;
  height: 100%;
  padding: 7px;
  display: flex;
  flex-direction: column;
  transition: transform .5s ease;
  &.hidden {
    transform: translateX($sidebar-width);
  }
}