.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background-color: $gray;
  border-right: 1px solid $dark-gray;
  height: 100%;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: all .5s ease;
  &.hidden {
    transform: translateX(-$sidebar-width);
    opacity: 0;
  }
  @at-root {
    #{&}__header {
      margin-bottom: 40px;
    }
  }
  .fa {
    color: $main-color;
    transition: transform .2s ease-in;
    &:hover {
      color: darken($main-color, 6);
      transform: scale(1.2)
    }
  }
}