.todo-list {
  height: 100%;
  width: 100%;
  .todo {
    width: 100%;
    background: $gray;
    border-radius: 7px;
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid $dark-gray;
    box-shadow: 3px 3px 5px 0 $gray;
    cursor: pointer;
    &__title {
      width: 100%;
      padding: 15px 10px;
      border-bottom: 1px solid darken($dark-gray, 5);
    }
    &__list {
      width: 100%;
      list-style: none;
      &-item {
        list-style: none;
        border-bottom: 1px solid darken($dark-gray, 5);
        padding: 10px;
        &:nth-child(2n-1) {
          background: white;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}