.todo-list {
  height: 100%;
  width: 100%;
  .todo {
    width: 100%;
    background: $gray;
    border-radius: 7px;
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid $dark-gray;
    &__title {
      width: 100%;
      padding: 5px 10px;
      border-bottom: 1px solid $dark-gray;
    }
    &__list {
      width: 100%;
      padding: 5px 10px;
      list-style: none;
      &-item {
        list-style: none;
        &:nth-child(2n) {
          background: white;
        }
      }
    }
  }
}
