.tool-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $tool-bar-width;
  transform: translateX(-($sidebar-width+$tool-bar-width));
  background: white;
  border-right: 1px solid $dark-gray;
  outline: 0;
  z-index: 998;
  transition: transform .5s ease;
  @at-root {
    #{&}__header {}
    #{&}__body {}
  }
}